script(src='/js/lib/jquery.min.js')
script(src='/js/lib/bootstrap.min.js')
script(src='/js/lib/jsoneditor.min.js')
script(src='/js/lib/harvey.js')
script(src='/css/vendors/semantic/dist/semantic.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/medium-editor/5.13.0/js/medium-editor.min.js')
script(src='/js/bundle.js')
script(src='/js/equalize.js')
script(src='/js/workspaces.js')
script(src='/js/docs.js')
script(src='/js/editing.js')
script(src='/js/main.js')